@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
    font-family: 'Nunito',  sans-serif;
    font-size: 20px;

}

body{
    background-color: rgb(126, 118, 118);
    padding-top: 85px;
}

.header{
    background-color: rgb(51, 53, 53);
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo img{
    height: 70px;
    width: auto;
    transition:  all 0.3s;
    border-radius: 50px;
    border: solid #000000;
}

.navegacion {
    list-style-type: style none;;
}

.navegacion li{
    display: inline-block;
    padding: 0 20px;
    border-radius: 50px;
    background-color: #000000;
    padding: 15px;
    margin: 10px;
}

.navegacion li:hover{
    transform: scale(1.1);
}

.navegacion a{
    font-size:  700;
    color: aliceblue;
    text-decoration: none;
}

.navegacion li a:hover{
    color: aqua;
}

.btn button{
    font-weight: 700;
    color: #000000;
    padding: 9px 25px;
    background-color: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.btn button:hover{
    background-color: #3d7fac;
    color: aqua;
    transform: scale(1.1);
}

.patric{
    margin: 20px;
    padding: 10px;
    float: left;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
    background-color: #cecece;
    color: rgb(0, 0, 0);
    text-align: center center;
    max-width: 300px;
}
.lisbon{
    margin: 20px;
    padding: 10px;
    float: left;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
    background-color: #cecece;
    color: rgb(0, 0, 0);
    text-align: center center;
    max-width: 290px;
}
.cho{
    margin: 20px;
    padding: 10px;
    float: left;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
    background-color: #cecece;
    color: rgb(0, 0, 0);
    text-align: center center;
    max-width: 290px;
}
#rigsby{
    margin: 20px;
    padding: 10px;
    float: left;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
    background-color: #cecece;
    color: rgb(0, 0, 0);
    text-align: center center;
    max-width: 290px;
}

.patric img{
    max-width: auto;
    height: 200px;
    margin: 15px;
    border-radius: 15px;
    border: 2px solid black;
    
}
#rigsby img{
    max-width: auto;
    height: 160px;
    margin: 15px;
    border-radius: 15px;
    border: 2px solid black;
    
}
.lisbon img{
    max-width: auto;
    height: 160px;
    margin: 15px;
    border-radius: 15px;
    border: 2px solid black;
    
}
.cho img{
    max-width: auto;
    height: 140px;
    margin: 15px;
    border-radius: 15px;
    border: 2px solid black;
    
}

h2{
    font-weight: 700;
    margin: 15px;

}

button{
    background-color: #f19813;
    font-weight: 700;
    color: #000000;
    padding: 4px 4px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: #000000;
    color: aqua;
    transform: scale(1.1);
}

p .patric .lisbon .cho #rigsby{
    font-size: 15px;
   
}

footer{
    background-color: #000000;
    position: absolute;
    color: white;
    width: 100%;
    top: 150vh;
    padding: 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

footer h6{
    background-color: #3b5363;
    padding: 15px;
    border-radius: 50px;
    margin: 15px;
    text-align: center;
}

footer small{
    background-color: rgb(37, 56, 50);
    padding: 15px;
    border-radius: 50px;
    margin: 15px;
}

footer hr{
    margin: 30px;
}

